
@{
    ViewBag.Title = "Đăng kí";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<header class="signup-header">
    <h2>TAKA
        <span>Đăng kí</span>
    </h2>
</header>

<main class="signup-main">
    <div class="signup-main-cover">
        <h3>Đăng kí</h3>
        @using (Html.BeginForm("Signup", "User", FormMethod.Post, new { @class = "" }))
        {
            @Html.AntiForgeryToken()


            <div class="form-group">
                <input type="text" class="" placeholder="Tên đăng nhập" name="name" required="">
                @Html.ValidationMessage("name", "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="password" class="" placeholder="Mật khẩu" name="password" required="">
                @Html.ValidationMessage("password", "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="password" class="" placeholder="Xác nhận mật khẩu" name="repassword" required="">
                @Html.ValidationMessage("repassword", "", new { @class = "text-danger" })
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger login-check" })
            <button type="submit">Đăng kí</button>
        }

        <div class="signup-other">
            <button class="signup-other-fb">
                <img src="~/images/facebook.png" />
                Facebook
            </button>
            <button class="signup-other-gg">
                <img src="~/images/google.png" />
                Google
            </button>
        </div>
        <div class="signup-login">
            <a href="/User/Login">Đăng nhập</a>
        </div>
    </div>
</main>

