@model dynamic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<main class="mt-0 bg-detail py-5">
    <div class="container mt-1 bg-white">
        <div class="row detail-product">
            <!-- Left Column -->
            <div class="col-md-5 detail-product-left">
                <img src="~/images/@Url.Content(ViewBag.Product.Image)" alt="@ViewBag.Product.Name" class="product-img">
                <div class="thumbnail-container">
                    @foreach (var thumbnail in ViewBag.Product.tb_ListImage)
                    {
                        <img src="~/images/@Url.Content(thumbnail.SRC)" alt="Thumbnail" class="thumbnail">
                    }
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-md-7 detail-product-right">
                <h1>@ViewBag.Product.Name</h1>
                <div>
                    <span class="detail-product-star mr-4">
                        <b>4.5</b>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star-half-stroke"></i>
                    </span>
                    <span class="detail-product-sold"><b class="">@ViewBag.Product.QuantitySold</b>  Đã bán</span>
                </div>
                <div class="my-3">
                    <h2 class="text-danger">
                        <p class="detail-price">
                            <span class="detail-price-old">@string.Format("{0:N0}đ", ViewBag.Product.Price)</span>
                            <span class="detail-price-new">@string.Format("{0:N0}đ", ViewBag.Product.Price * (100 - ViewBag.Product.PromotionPrice) / 100)</span>
                            @if (ViewBag.Product.PromotionPrice != null)
                            {
                                <span class="detail-price-promotion">@string.Format("{0:N0}", ViewBag.Product.PromotionPrice)% GIẢM</span>
                            }


                        </p>
                    </h2>
                </div>
                <div class="detail-delivery">
                    <p>
                        <span>Vận chuyển:</span>
                        <strong>Phường Thanh Bình, quận Hải Châu</strong>
                    </p>
                </div>
                <div class="detail-quantity">
                    <label for="quantity">Số lượng:</label>
                    <div class="detail-quantity-input-group">
                        <button class="detail-quantity-prepend">
                            <i class="fas fa-minus"></i>
                        </button>
                        <input type="number" id="quantity" class="form-control text-center detail-quantity-input" value="1" min="1" max="@ViewBag.Product.Quantity">
                        <button class="detail-quantity-append">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <p class="detail-quantity-rest">
                        <span>@ViewBag.Product.Quantity</span>
                        <span>sản phẩm còn</span>
                    </p>
                </div>
                <div class="detail-button">
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span>Thêm vào giỏ hàng</span>
                    </button>
                    <button class="btn btn-danger">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 bg-white">
        <div class="row detail-shop">
            <div class="col-md-4 detail-shop-left">
                <div class="detail-shop-avatar">
                    <img src="~/images/@Url.Content(ViewBag.Shop.Avatar)" alt="@ViewBag.Shop.Name" class="product-img">

                </div>
                <div class="detail-shop-title">
                    <h4>@ViewBag.Shop.Name</h4>
                    <p>
                        <a href="">
                            <i class="fa-regular fa-message"></i>
                            Chat ngay
                        </a>
                        <a href="/Shop/Detail/@ViewBag.Shop.ShopID">
                            <i class="fa-solid fa-shop"></i>
                            Xem shop
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-8 detail-shop-right">
                <div class="col-md-4 detail-shop-right-col">
                    <p>
                        <span>Sản phẩm</span>
                        <span>@ViewBag.ProductCount</span>
                    </p>
                </div>
                <div class="col-md-4 detail-shop-right-col">
                    <p>
                        <span>Tham gia</span>
                        <span>@ViewBag.JoinDate.ToString("dd - MM - yyyy")</span>
                    </p>
                </div>
                <div class="col-md-4 detail-shop-right-col">
                    <p>
                        <span>Liên hệ</span>
                        <span>@ViewBag.PhoneNumber</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    @{
        var product = ViewBag.Product;
        var shop = ViewBag.Shop;
        var comments = ViewBag.Comments;
        var productCount = ViewBag.ProductCount;
        var joinDate = ViewBag.JoinDate;
        var phoneNumber = ViewBag.PhoneNumber;
        int page = ViewBag.Page;
        int pageSize = ViewBag.PageSize;
        int totalComments = ViewBag.TotalComments;
        int totalPages = (int)Math.Ceiling((double)totalComments / pageSize);
        var relatedProducts = ViewBag.RelatedProducts;
        var detailSegments = ViewBag.DetailSegments;
    }

    <div class="container mt-4 bg-white">
        <div class="detail-description">
            <h3>Mô tả sản phẩm</h3>
            <p>
                <span>@ViewBag.Product.Name</span>
                @ViewBag.Product.Description
            </p>
        </div>
    </div>

    <div class="container mt-4 bg-white">
        <div class="detail-detail">
            <h3>Chi tiết sản phẩm</h3>
            <div class="row">
                @foreach (var segment in detailSegments)
                {
                    <div class="col-6">
                        <p>
                            <i class="fa-regular fa-circle"></i>
                            @segment.
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>


    <div class="container mt-4 bg-white">
        <div class="detail-review">
            <h3>Đánh giá sản phẩm</h3>
            <div class="detail-review-cover">
                @if (totalComments > 0)
                {
                    foreach (var comment in comments)
                    {
                        <div class="row">
                            <div class="col-1 detail-review-img">
                                <img src="~/images/@comment.CustomerAvatar" />
                            </div>
                            <div class="col-11">
                                <h5 class="">@comment.CustomerName</h5>
                                <div class="">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= comment.Star)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                        }
                                        else if (i == comment.Star + 0.5)
                                        {
                                            <i class="fa-regular fa-star-half-stroke"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-regular fa-star"></i>
                                        }
                                    }
                                </div>
                                <span>@comment.CreatedDate.ToString("dd/MM/yyyy")</span>
                                <p>@comment.Detail</p>
                            </div>
                        </div>
                    }
                    <!-- Pagination -->
                    <nav>
                        <ul class="pagination">
                            @for (int i = 1; i <= totalPages; i++)
                            {
                                <li class="page-item @(i == page ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Details", new { id = product.ProductID, page = i })">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
                else
                {
                    <p class="text-center">Không có đánh giá nào.</p>
                }
            </div>
        </div>
    </div>

    <div class="container mt-4 bg-white">
        <div class="detail-product-other">
            <h3>Sản phẩm liên quan</h3>
            <div class="product-cate-row">
                @foreach (var relatedProduct in relatedProducts)
                {
                    <a href="@Url.Action("Details", new { id = relatedProduct.ProductID })" class="product-cate-cover col-2-4">
                        <span>-@relatedProduct.PromotionPrice%</span>
                        <div class="product-item">
                            <div class="product-img">
                                <img src="~/images/@relatedProduct.Image" alt="@relatedProduct.Name" />
                            </div>
                            <h4 class="product-title">@relatedProduct.Name</h4>
                            <p class="product-price">
                                <span class="product-price-old">@string.Format("{0:N0}đ", relatedProduct.Price)</span>
                                <span class="product-price-new">@string.Format("{0:N0}đ", relatedProduct.Price * (100 - relatedProduct.PromotionPrice) / 100)</span>
                            </p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</main>
