@model dynamic

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<main class="mt-0 bg-detail py-5">
    <div class="container mt-1 bg-white">
        <div class="row detail-product">
            <!-- Left Column -->
            <div class="col-md-5 detail-product-left">
                <img src="~/images/@Url.Content(ViewBag.Product.Image)" alt="@ViewBag.Product.Name" class="product-img">
                <div class="thumbnail-container">
                    @foreach (var thumbnail in ViewBag.Product.tb_ListImage)
                    {
                        <img src="~/images/@Url.Content(thumbnail.SRC)" alt="Thumbnail" class="thumbnail">
                    }
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-md-7 detail-product-right">
                <h1>@ViewBag.Product.Name</h1>
                <div>
                    <span class="detail-product-star mr-4"><b>3.2</b>★★★☆☆</span>
                    <span class="detail-product-sold"><b class="">@ViewBag.Product.QuantitySold</b>  Đã bán</span>
                </div>
                <div class="my-3">
                    <h2 class="text-danger">
                        <p class="detail-price">
                            <span class="detail-price-old">@string.Format("{0:N0}đ", ViewBag.Product.Price)</span>
                            <span class="detail-price-new">@string.Format("{0:N0}đ", ViewBag.Product.Price * (100 - ViewBag.Product.PromotionPrice) / 100)</span>
                            @if (ViewBag.Product.PromotionPrice != null)
                            {
                                <span class="detail-price-promotion">@string.Format("{0:N0}", ViewBag.Product.PromotionPrice)% GIẢM</span>
                            }


                        </p>
                    </h2>
                </div>
                <div class="detail-delivery">
                    <p>
                        <span>Vận chuyển:</span>
                        <strong>Phường Thanh Bình, quận Hải Châu</strong>
                    </p>
                </div>
                <div class="detail-quantity">
                    <label for="quantity">Số lượng:</label>
                    <div class="detail-quantity-input-group">
                        <button class="detail-quantity-prepend">
                            <i class="fas fa-minus"></i>
                        </button>
                        <input type="number" id="quantity" class="form-control text-center detail-quantity-input" value="1" min="1" max="@ViewBag.Product.Quantity">
                        <button class="detail-quantity-append">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <p class="detail-quantity-rest">
                        <span>@ViewBag.Product.Quantity</span>
                        <span>sản phẩm còn</span>
                    </p>
                </div>
                <div class="detail-button">
                    <button class="btn btn-primary">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span>Thêm vào giỏ hàng</span>
                    </button>
                    <button class="btn btn-danger">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4 bg-white">
        <div class="row detail-shop">
            <div class="col-md-4 detail-shop-left">
                <div class="detail-shop-avatar">
                    <img src="~/images/@Url.Content(ViewBag.Shop.Avatar)" alt="@ViewBag.Shop.Name" class="product-img">

                </div>
                <div class="detail-shop-title">
                    <h4>@ViewBag.Shop.Name</h4>
                    <p>
                        <a href="">
                            <i class="fa-regular fa-message"></i>
                            Chat ngay
                        </a>
                        <a href="">
                            <i class="fa-solid fa-shop"></i>
                            Xem shop
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-8 detail-shop-right">
                <div class="col-md-4 detail-shop-right-col">
                    <p>
                        <span>Sản phẩm</span>
                        <span>@ViewBag.ProductCount</span>
                    </p>
                </div>
                <div class="col-md-4 detail-shop-right-col">
                    <p>
                        <span>Tham gia</span>
                        <span>7 tháng trước</span>
                        @*<span>@ViewBag.CreateDate.ToString("dd MMM yyyy")</span>*@
                    </p>
                </div>
                <div class="col-md-4 detail-shop-right-col">
                    <p>
                        <span>Liên hệ</span>
                        <span>@ViewBag.PhoneNumber</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
