@model IEnumerable<ThuongMaiDienTu.Models.Cart>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<main class="mt-2">
    <div class="cart">
        <div class="cart-header">
            <h2 class="cart-header-title">Giỏ hàng</h2>
            <ul class="cart-header-list">
                <li class="cart-header-item">
                    <input type="checkbox" class="cart-header-item-checkbox">
                </li>
                <li class="cart-header-item">Hình ảnh</li>
                <li class="cart-header-item">Tên sản phẩm</li>
                <li class="cart-header-item">Số lượng</li>
                <li class="cart-header-item">Số tiền</li>
                <li class="cart-header-item">Thao tác</li>
            </ul>
        </div>

        <div class="cart-content">
            @foreach (var item in Model)
            {
                <ul class="cart-content-list">
                    <li class="cart-content-item">
                        <input type="checkbox" class="cart-content-item-checkbox">
                    </li>
                    <li class="cart-content-item">
                        <img src="~/images/@item.Image" class="cart-content-item-img" />
                    </li>
                    <li class="cart-content-item">
                        <span>@item.Name</span>
                    </li>
                    @*<li class="cart-content-item">
                            @using (Html.BeginForm("Update", "Cart", FormMethod.Post))
                            {
                                <input type="number" name="quantity" value="@item.Quantity" min="1" style="width: 60px;" />
                                <input type="hidden" name="productId" value="@item.ProductID" />
                                <input type="submit" value="Update" class="btn btn-warning" />
                            }
                        </li>*@
                    <li class="cart-content-item">
                        <button class="detail-quantity-prepend" data-product-id="@item.ProductID">
                            <i class="fas fa-minus"></i>
                        </button>
                        <input type="number" name="quantity" value="@item.Quantity" min="1" style="width: 36px;" readonly />
                        <button class="detail-quantity-append" data-product-id="@item.ProductID">
                            <i class="fas fa-plus"></i>
                        </button>
                    </li>
                    <li class="cart-content-item">
                        @{
                            decimal price = item.Quantity * item.Price;
                        }
                        @price.ToString("N0") VNĐ
                    </li>
                    <li class="cart-content-item">
                        @using (Html.BeginForm("Remove", "Cart", FormMethod.Post))
                        {
                            @Html.Hidden("productId", item.ProductID)
                            <button type="submit" class="btn btn-warning">Xoá</button>
                        }
                    </li>
                </ul>
            }
        </div>

        <div class="cart-bottom">
            <ul class="cart-bottom-list-left">
                <li class="cart-bottom-item">
                    <input type="checkbox" class="cart-bottom-item-checkbox">
                </li>
                <li class="cart-bottom-item">Chọn tất cả (@ViewBag.TotalQuantity)</li>
                <li class="cart-bottom-item disable-cursor">
                    @using (Html.BeginForm("Clear", "Cart", FormMethod.Post))
                    {
                        <button type="submit">Xoá tất cả</button>
                    }
                </li>
            </ul>
            <ul class="cart-bottom-list-right">
                <li class="cart-bottom-item">Tổng tiền</li>
                @{
                    decimal totalPrice = (decimal)ViewBag.TotalPrice;
                }
                <li class="cart-bottom-item">@totalPrice.ToString("N0") VNĐ</li>
                <li class="cart-bottom-item">
                    <button type="button" class="cart-bottom-button disable-cursor">Mua hàng</button>
                </li>
            </ul>
        </div>
    </div>
</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".detail-quantity-prepend").click(function () {
                var productId = $(this).data("product-id");
                var quantityInput = $(this).siblings('input[name="quantity"]');
                var currentQuantity = parseInt(quantityInput.val());
                if (currentQuantity > 1) {
                    updateCartQuantity(productId, currentQuantity - 1, quantityInput);
                }
            });

            $(".detail-quantity-append").click(function () {
                var productId = $(this).data("product-id");
                var quantityInput = $(this).siblings('input[name="quantity"]');
                var currentQuantity = parseInt(quantityInput.val());
                updateCartQuantity(productId, currentQuantity + 1, quantityInput);
            });

            function updateCartQuantity(productId, newQuantity, quantityInput) {
                $.ajax({
                    url: '@Url.Action("UpdateQuantity", "Cart")',
                    type: 'POST',
                    data: {
                        productId: productId,
                        quantity: newQuantity
                    },
                    success: function (result) {
                        quantityInput.val(newQuantity);
                        // Optionally, update other parts of the cart like total quantity and price
                        location.reload(); // Uncomment if you want to reload the page
                    },
                    error: function (xhr, status, error) {
                        console.error("Error updating cart quantity: " + error);
                    }
                });
            }
        });
    </script>
}